@import "./imports/_normalize.scss";
*{ box-sizing: border-box }

body {
  padding: 0 10px;

}

.menu-list {
  display: none;
}

.cabecera {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logong {
  width: 150px;

}

.fa-bars {
  width: 30px;
  height: 30px;

}

.divider {

}

.see-more {
  text-align: center;
  text-transform: uppercase;
  color: black;
  border-bottom: 1px solid yellow;
  text-decoration: none;
}

.fotos {
  width: 100%;
}

.quote {
  border-left: 2px solid #555;
  padding-left: 10px;
}

.boton {
  background-color: yellow;
  width: 100%;
  height: 45px;
  border :1px solid black;
  text-transform: uppercase;
}

.socialMedia {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
}

li {
 margin: 0 6px;
}

i {
  font-size: 25;
}

.footer {
  background-color: #222;
  color: white;
  padding: 30px 0;
  margin-top: 35px;
  padding-bottom: 0;

  .ftitle {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    }
}

.section-footer {
  text-align: center;
  font-size: 11px;
  margin-top: 55px;
  margin: 0 10px;

  .seemore {
    color: white;
    font-weight: bold;
    text-transform: none;
    padding-bottom: 0;
    border-bottom: 2px solid yellow;
    text-decoration: none

  }
}
.grid2 {
  background-color: #aaaaaa;
  font-family: "Georgia";
  height: 150px;
  color: black;
  padding:  0;
  padding-left: 20px;
  padding-top: 10px;
  margin-top: 35px;


.boton {
  width: 65px;
  height: 25px;
  font-size: 10px;
  border: 0;
}
}

@media screen and (min-width:768px){
.grid {
  display: flex;
  margin-top: 30px;

.quote {
  border: 0;
  padding-left: 0;
  }
  .fotos{
    margin-right: 10px;
  }
 }

 .menu-list {
   display: none;
 }
 .boton {
   background-color: yellow;
   display: block;
   width: 60%;
   margin: 0 auto;
   height: 25px;
   border :1px solid black;
   text-transform: uppercase;
   margin-top: 20px;
 }

 .see-more {
   font-size: 12px;
 }
.fotos {
  display: block;
  width: 70%;
  margin: 0 auto;
}
.section-footer {
  display: flex;

}

.grid2{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;

p {
  border-left: 2px solid black;
}
.follow {
  border-left:  2px solid black;
  padding-right: 50px;
}
}
}

@media screen and (min-width: 1024px){
.container {
  width: 70%;
  margin: 0 auto;
}

.nav {
  display: flex;
}
.menu {
    display: none;
  }

  .menu-list {
    display: flex;
    padding-left: 0;
    list-style-type: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #555;

    li {
      margin-right: 60px;
      border-left: 2px solid yellow;
      padding-left: 25px;
    }
  }

}
